body
{
    background-image:url(https://lh3.googleusercontent.com/pw/AM-JKLXbljpLS-a-WP6IgQwtDvw12fSi3LAYF9gcdBZOQ6SKhxgGxUbEDd2eEEv0yYz6C0Oj6pckd18D7ZP-uRNXCcNu1Su7tuhsVnFgvRak8BHklcYlpfWNCGsOpSZyimCa3Pzbo8IYDoFJaoKHOeI1nJiN=w787-h625-no?authuser=4);
    background-repeat: no-repeat;
   background-size: 100% 100%;
     
} 
.mosquito1
{
    width: 100px;
    height: 100px;
}
.mosquito2
{
width: 300px;
height: 300px;
}
.mosquito3
{
width: 400px;
height: 400px;
}

.ladoa
{
    transform: scaleX(1);
}

.ladob
{
    transform: scalex(-1);
}

.painel
{
    position: absolute;
    width:800px;
    padding:150px;
    bottom:0px;
    border-top:solid 1px #fff;
    background-color:#fff;
    opacity:0.7

}

.vidas
{
    float:left;
}
html
{
    cursor:url(https://lh3.googleusercontent.com/pw/AM-JKLWupcFrggLIlMkEz8K2Sie_5YHeSFSTbeTFe5o-EtH8QsDlKS2BcCUAnLvlwTsDV8wLyTybGdXc0G6h-H7hdAvi9DiSQvcQMW3FzziJd1EvaEIKe6EllYL7o9R7QJ9OTPx51GF8Yi8tyG61hmZsR0Fl=w80-h70-no?authuser=4) 30 30,auto;

}
.cronometro
{
    float:left;
    font-size:100px;
    font-weight:bold;
}

.coracao
{
    width: 189px;
}