<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="freitrabalhoEntities" connectionString="metadata=res://*/database.entity.modeltrabalho.csdl|res://*/database.entity.modeltrabalho.ssdl|res://*/database.entity.modeltrabalho.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;database=freitrabalho&quot;" providerName="System.Data.EntityClient" />
    <add name="freitrabalhoEntities1" connectionString="metadata=res://*/database.entity.modelentity.csdl|res://*/database.entity.modelentity.ssdl|res://*/database.entity.modelentity.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;persistsecurityinfo=False;user id=root;database=freitrabalho&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>