*
{
    margin:0;
    padding:0;
}

body
{
    font-family: "Trebuchet MS",Helvetica,sans-serif;
    background: #fff url('https://lh3.googleusercontent.com/pw/AM-JKLWq3XgaFZr36ohqjqyrRF6tK2gE1atXQvKFlJHRF09TWNGPZ1CC5IDhNycFHoOuunjXcCf_xkOCd2NVW-qQS6FQD4U8TJjxf8xlu8eIpd-aLgX3-Pq8PuaOZQou8Fgn2kxqPZAyMUO1Ilgg_Esqkfo=w258-h233-no?authuser=7')repeat-x;
}

#container
{
    width: 750px;
    margin:0 auto;  
}

#topo
{
    height:150px;
   padding-top:25px;
    background: url('https://lh3.googleusercontent.com/pw/AM-JKLWap5f3hA2WNvgyAnl9DG7CDl1Fs_MFdic7rydQAbIuiDcwAZx7kFjw3nlyBI9Hos8MPN3xzVCNVoqdesuKNavSF5h5-kaDo5RFFmHeD_itQDnnB7Bol-k7qtcLjTc8v949KPSVdbsfXbpsOJrUOpo=w176-h179-no?authuser=7') no-repeat right top;
}
.logo
{
    width: 152px;
    height: 66px;
    background: url('https://lh3.googleusercontent.com/pw/AM-JKLWu-oD6iklv5LP_EnmGND9ag3gD2q-XaM8wWiPWrCGCbUY5CXXD7atiFWEBJFXU89Z1gdpp4XFSjeYuKG_tUl4B7fl8PodZEyOYG-i-uFo_4X7fhl-k_h9vbY13GdjWYsLMJkxWyo_L1FotsrMkuCU=w152-h66-no?authuser=7') no-repeat center;
    text-indent:-3000px;
}

ul
{
    margin:0;
    padding:0;
    list-style: none;
}

#topo ul
{
    background:#b10333;
    margin-top:30px;
    float:left;
}
#topo ul li
{
    float:left;
}

#topo ul a
{
  font-size:0.9em;
  display: block;
  padding:0.5em 1.5em;
  line-height: 2.1em;
  text-decoration: none;   
  color:#fff;
  background: url(https://lh3.googleusercontent.com/pw/AM-JKLVPt961TJlYtpAf1AmXmpkc-ZJ3rqJ9jJMwOPgv6LZbHHrbx3cfXimn2QzDdnTDj1FcxcwBM1GEJwwwQ1i3S3yI9ENDxxcBEBQg1zeeTguGWqwtolDL1EtBW7KL4jnnmou5tZfnH0YFEcSqONhEPfA=w2-h16-no?authuser=7) no-repeat left center;
}
#topo ul .primeiro a
{
    background: none;
}

#topo ul a:hover
{
    color: #69001d;
}

body.home #navegacao a#home,
body.brasil #navegacao a#brasil,
body.internacional #navegacao a#internacional,
body.economia #navegacao a#economia,
body.saude #navegacao a#saude,
body.ciencia #navegacao a#ciencia,
body.fotos #navegacao a#fotos
{
color:#fff;
background:#de003e;
cursor:text;
}
#conteudo
{
    margin-top:60px;
    background:#f5f5f5;
}

#primario
{
    width:270px; 
    background: blue;
    margin:  0 0 20px 195px;
    float:left;
}

#uma-coluna #primario
{
    width: 750px;
    margin:0 0 20px 0;
}

#duas-colunas #primario
{
    width:555px; 
}

#tres-colunas #primario
{
    width:270px; 
    background: blue;
    margin:  0 0 20px 195px;
    float:left;
}



#secundario
{
    width:270px; 
    background: green;
    float:left;
    margin:0 0 20px 15px;
}

#lateral
{
    width:180px;
    float:left;
    margin: 0 0 20px -750px;
}

#lateral ul a 
{
    font-size:0.9em;
    padding:3px;
    display: block;
    line-height: 30px;
    color: #000;
    text-decoration: none;
    border-bottom:1px solid #f3f3f3;
}

#lateral ul a:hover
{
    background: #f9f9f9 url(https://lh3.googleusercontent.com/pw/AM-JKLUo1FGrujHeTA0vppXF0a1wbVvq3ZD-9UhBHq81snbHvBPmaYxOgXsCVzjC_0S-zQfdlKpAc72HggBK3Pt9_iySxtQKogNHbaDb5SB4giv6FrULO5jSyUX-JJh5Z7zm19VaBm23nRHsfLWDo2JQKfw=w17-h10-no?authuser=7) no-repeat left;
    padding-left:20px;
    color:#a1a1a1;
}

#container-rodape
{
    background: #294c71;
    padding:20px;
}

#rodape
{
    width: 750px;
    margin:0 auto;
    color: #fff;
}

.caixa
{
  margin: 10px 0;
  padding:5px;
  background:#f3f3f3 url(https://lh3.googleusercontent.com/pw/AM-JKLWHM4AANucH2NqC6GsOE74MWfJstm3ntfls3L2LLYiy53BDH1XPdgjYKigo5gcbi2D_nyMj302ofetw5JqU1bgE41XaOm9XxJJR4SzI74ks8UZcNUeAQftJ6DOL3ZhRsdsA9m6BguZJdFNQFRi7mGE=w80-h56-no?authuser=7)
}
h2
{
    font-size:1em;
    background: #294c71;
    color:#fff;
    padding:5px;
}
.caixa-conteudo
{
    background: #fff;
    padding:5px;
    margin-top:5px;
}

label
{
    display: block;
    cursor:pointer;
}

input
{
 padding: 5px;
 width: 125px;
 font-size: 0.9em;
 background-color: #fff;    
}

input.submit
{
    width: 80px;
    color:#fff;
    background-color: #b10333;
    border:2px solid #870529;
}