body
{
    background:#f4f2ec url(https://lh3.googleusercontent.com/pw/AM-JKLUIEcP5JkfxlxiapOq7vWP1ljoGb3hvniH05sC2_f4TRaJL9A3t3OxL-tQVaSM9W5GRhFDDFNfTsxtV63OQUfr6s3XdyGvPlG8Ue_0qd94JYCCbwp01VObsnIhqWfYsFBjsy8HcQE3GCPDft_wBKQtm=w82-h158-no?authuser=7)repeat-x;
    font:12px "Lucida Grande","Lucida Sans Unicode", Arial,sans-serif;  
}

#container
{
    width:1080px;
    margin:0 auto;
}

#logo h1
{
    float: left;
}

#logo a
{
    width:248px;
    height: 21px;
    text-indent: -9999px;
    display: block;
    background: url(https://lh3.googleusercontent.com/pw/AM-JKLUtC4qbHC7JzhFVS2-N6andXlXwe8HORnh_ITk-W20uXAoDWzowc5JbClI97Qks4s9MZqPF9Y8w7d5NE5x0GMf2xYVtje00bc_i8F_GcobL0f3Y6RdGvDs1FZ2j--1oNIA8DkzuQzKKeWsgTJ7aaAsg=w248-h21-no?authuser=7)no-repeat;
}
header
{
    padding:15px 0;
    height: 55px;
}
nav ul
{
    list-style: none;
    margin:20px;
    float:right;
}

nav ul li
{
    float: left;
}

a:link, a:active, a:visited
{
    color:#af670a;
    text-decoration: none;
}

a:hover
{
    color:#227115;
}

nav ul li a:link
{
    
    display: block;
    margin-right: 25px;
    padding-bottom:3px;
    text-transform: uppercase;
}

nav ul li a:hover
{
    border-bottom:1px solid #535858;
}

#conteudo
{
    width:710px;
    float:left;
    background: green;   
  
}

aside
{
    width: 350px;
    float:right;
    background:#ebe7dd;
    padding-bottom: 30px;
}

section#visita
{
    background: #cdc8b1;
    padding: 10px 27px 27px 27px;
    margin-top:10px;
}

section#galeria
{
    padding: 0 27px 0 27px;
}

section#galeria a
{
    display: block;
    background:url(https://lh3.googleusercontent.com/pw/AM-JKLUJ0GU2AQxcm4T74y9YbYkZGANEP0KumN0Bu3ZBm3--v_AsbDksFhr5SPSZMhhgHUfsrUlzH3l6c9CM4CzstlyOCnP1l1xENeODncQaMAzAT_0v__kH18aHVw3f5JRityen95vLuAqcnIuySZjLQTGR=w126-h133-no?authuser=7) no-repeat;
    float:left;
    padding:17px 15px 17px 15px;
    margin:10px 0 0 20px;
}  

section#galeria img
{
    margin-left: 2px;
    margin-top: 3px;
}

h4
{
    color:#86521a;
    text-transform: uppercase;
    padding-bottom: 3px;
    margin-bottom: 0;
}

input
{
    height: 20px;
    width:80px;
    background: #fff;
    border:none;
    font-size:1em;
}
input.campo
{
    border:1px solid #ada484;
}

input.botao
{
background:#9b9271;
color:white;
width: 100%;
height: 40px;
font-size: 1.2em;
}

fieldset
{
    border:none;
}

legend
{
    display:none
}